# Dependencies
/node_modules

# Next.js outputs
/.next/
/out/
/.vercel/

# Build outputs
/build
/dist

# Caches
.swc/
.cache/
.turbo/
.vite/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Env files
.env*
